@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@layer base {
  body {
    @apply bg-[#141414] text-white overflow-x-hidden !scrollbar-thin !scrollbar-track-transparent
    !scrollbar-thumb-red-600 !scrollbar-hide;
  }

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
  }
}


@layer components {
  .headerLink {
    @apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[.4s]
    hover:text-[#b3b3b3];
  }

  .white {
    color: white;
  }

    .bannerButton {
      @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl
    }
  }

  ::-webkit-scrollbar{
    width: 6px;
  }

::-webkit-scrollbar-thumb{
    background: #f30505;
  }  

 ::-webkit-scrollbar-track{
    background: transparent;   
  }

  

